@import './main-color.scss';

.card-group {
  gap: 15px;
}
h2 {
  color: $black;
  font-family: 'Dancing Script', cursive;
}
.carousel-control-prev:hover,.carousel-control-prev, .carousel-control-prev:focus, .carousel-control-next, .carousel-control-next:hover, .carousel-control-next:focus {
  color: transparent;
}
.carousel-control-next {
  right: -187px;
}
.carousel-control-prev {
  left: -100px;
}
.card-group > .card:not(:last-child) {
  border-radius: 10px;
}
.card-group > .card:not(:first-child) {
  border-radius: 10px;
}
.btn-secondary {
  border: 1px solid $white;
  border-radius: 30px;
}
.card-text {
  color: $black;
}
.card {
  background: transparent;
  border: transparent;
}
.card-body {
  width: 100%;
  background: $white;
}
