@import './main-color.scss';

.card-group {
  gap: 15px;
}
h2 {
  font-family: 'Dancing Script', cursive;
}
.carousel-control-prev:hover,.carousel-control-prev, .carousel-control-prev:focus, .carousel-control-next, .carousel-control-next:hover, .carousel-control-next:focus {
  color: transparent;
}
.carousel-control-next {
  right: -187px;
}
.carousel-control-prev {
  left: -100px;
}
.card-group > .card:not(:last-child) {
  border-radius: 10px;
}
.card-group > .card:not(:first-child) {
  border-radius: 10px;
}
.btn-secondary {
  --bs-btn-color: $white;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: $grey;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color:$grey;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: $grey;
  --bs-btn-disabled-color: $grey;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
}
